:root{
    --color-primary:#020c2315;
    --color-secondary:rgba(0, 0, 0, 0.829);
    --color-text:#ffffff;
    --color-text-secondary:rgba(0, 0, 0, 0.842);
    --display: flex;
    --justify-content: space-between;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&family=Playfair+Display&display=swap');

body{
    background-color: var(--color-primary);
    color: var(--color-text-secondary)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav .nav-link{
    width: 150px;
    display: var(--display);
    justify-content: space-around;
     color: var(--color-text-secondary);
    font-family: 'Playfair Display', serif;
    color: var(--color-text-secondary);
   
    
   
}


h3 h2 {
    font-family:'Roboto Flex',sans-serif;
}
#cards{     
    /* background-color:#020c2315; */
     display: grid; 
     grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr ;
    height: 60vh;
    gap: 50px;
    
}




.caard1{
    background-color: rgba(0, 0, 0, 0.208);
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
   border-radius: 10%;

    
   
} 
.caard2{
    background-color: rgba(0, 0, 0, 0.208);
    grid-row: 1/2;
    grid-column: 2/3;   
    text-align: center;
    border-radius: 20%;
   
} 
.caard3{
    background-color:rgba(0, 0, 0, 0.208);
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    border-radius: 20%;
      
} 
.caard4{
    background-color: rgba(0, 0, 0, 0.208);
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    border-radius: 20%;
   
} 
.color{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
#service{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.service-card{
    background-color:rgba(0, 0, 0, 0.208); 
    border-radius: 20%;
     height: 25vh;
    text-align: center;
    box-shadow: #020c2315;
    box-shadow: none;
  transition: box-shadow 0.3s ease;
}
.service-card:hover{
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.829);

}

@media screen and (min-width: 374px) {
/* Styles à appliquer pour les mobiles */ 
}
   
@media screen and (max-width:  767px) { 
/* Styles à appliquer pour les tablettes */ 
}
  
 @media screen and (min-width: 1200px) { 
/* Styles à appliquer pour les ordinateurs de bureau */ 
}
  
















































