












































/* .Tarif{
    background-color: var(--color-text);
     padding: 20px;  */espace entre les bords */
     border-radius: 15px; */pour quil soit bien arrondis*/
     /* height: 350px;

    flex: 1;
   
} */
/* .Tarifs{
    display: var(--display);
    gap: 10px; 
    margin-top: 20px;
} */ 



